.menu-item {
	float:none;
	display: block;
	text-transform: uppercase;

	@include media-breakpoint-up(lg) {
		float:left;
	}
}
a {
	color: $brand-primary;

	&:hover {
		color: darken($brand-primary,20%);
	}
}

// Navigation menu
.wrapper-navbar {

	@include media-breakpoint-up(lg) {
		background: $brand-dark;
		height:45px
	}
}
#main-menu {
	margin-top:5vh;
	padding-left:0px;

	@include media-breakpoint-up(lg) {
		margin-top: 0;
		margin-bottom: 12px;
	}

	li {
		border-bottom:1px solid $brand-primary;

		@include media-breakpoint-up(lg) {
			border-bottom:none;
		}

		&:last-child {
			border-bottom:none;
		}

		.nav-link {
			font-size:1.3rem;

			@include media-breakpoint-up(lg) {
				padding:0 1em;
			}
		}
		&:hover {
			background-color:transparent;
		}
		a {
			&:hover {
				background-color:transparent;
			}
		}
		&:nth-child(n+4) {

			ul.dropdown-menu {
				@include media-breakpoint-up(lg) {
					right:0px;
					left:auto;
				}
			}
		}
	}

	ul.dropdown-menu {
		position: relative;
		width:100%;
		background-color: transparent;
		background-clip: border-box;
		padding:0;
		margin:0;

		ul {
			background-color: lighten($brand-dark,8%);
			padding-left:10px;

			@include media-breakpoint-up(lg) {
			}
			li {
				a {
					&:hover {
						background-color:transparent;
					}
				}
				&:hover {
					background-color:transparent;
				}
			}
		}

		@include media-breakpoint-up(lg) {
			background-color: $brand-dark;
			position: absolute;
			top:30px;
			left:0px;
			width:200px;
			outline:0;
			border:0;
			border-radius:0;
		}
	}
}
.menu_button {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 24;
	cursor: pointer;

	transition: left 0.3s ease-in-out 0s;
	-webkit-transition: left 0.3s ease-in-out 0s;
	-moz-transition: left 0.3s ease-in-out 0s;
	-o-transition: left 0.3s ease-in-out 0s;
}
.menu_button.fixed {
	position:fixed;
}
a.nav-expander {
	color:$brand-primary !important;
	font-size:1.2rem;
	width:71px;
	float:left;
	margin-right:10px;

	@include media-breakpoint-up(lg) {
		display: none;
	}
}
.nav-expanded .nav-expander.fixed {
	left:20em;
}
nav {
	background: $brand-dark;
	display: block;
	height: 100%;
	overflow: auto;
	position: absolute;
	left: -20em;
	font-size: 15px;
	top: 0;
	width: 20em;
	z-index: 2000;

	@include media-breakpoint-up(lg) {
		background:none;
		height: 100%;
		width:auto;
		right:0;
	}

	transition: left 0.3s ease-in-out 0s;
	-webkit-transition: left 0.3s ease-in-out 0s;
	-moz-transition: left 0.3s ease-in-out 0s;
	-o-transition: left 0.3s ease-in-out 0s;

	@include media-breakpoint-up(lg) {
		left:auto;
	}
}
.nav-expanded nav {
  left: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
}

#nav-close {
}
.main-menu {
  padding-top: 12px;

  li {
	  border-bottom: 1px solid #323949;
	  margin-left: 20px;
	  font-size: 18px;
	  padding: 12px;

	  a {
		  color: #6F7D8C;
		  text-decoration: none;

		  &:hover {
			  color: #FFFFFF;
			  text-decoration: none;
			}
			.caret {
				width: 0;
				height: 0;
				display: inline-block;
				vertical-align: top;
				border-top: 4px solid #4f5963;
				border-right: 4px solid transparent;
				border-left: 4px solid transparent;
				content: "";
			    margin-top: 8px;
			}
		}

		.sub-nav {
		  border-bottom: 0px;
		  padding: 4px;
		}
	}
}

.main-menu a:hover {
	.caret {
		border-top-color: #4f5963;
	}
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}
body {
	font-family: $open-sans-condensed;
	font-size:0.75rem;

	.navbar {
		height:45px;
		background: $brand-dark;

		@include media-breakpoint-up(lg) {
			height: auto;
			background:none;
		}

		.logo {
			color:$brand-primary;
		}

		.menu_button {
			color:white;
			font-size: 2rem;
			top: -3px;
			left: 11px;
		}
		.container {
			margin-left:0;
			margin-right:0;
		}

		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
	}
}